<template>
  <v-app>
    <Header></Header>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
// import ProductList from './components/ProductList';

// aqui importamos o componente de header da pasta shared ↓
import Header from './components/shared/Header';

export default {
  name: 'App',

  components: {
    // ProductList,
    Header,
  },

  data: () => ({
    //
  }),
};
</script>
